<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <!--
    This summons a magic rails fairy that loops through everything in the @blogs collection and renders the stuff on the partial file _blog.html.erb for each item in that collection. Could do this by hand if desired.
    -->
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
