<%= render 'shared/portfolio_header'%>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row sortable">

      <%= render partial: 'item', collection: @portfolio_items %>

    </div>
  </div>
</div>
