<h1>Portfolio</h1>

<%#*<a href="portfolios/new">Create New Item </a>%>

<%= link_to "Create New Item", new_portfolio_url if logged_in?(:site_admin)%>

<%= render partial: 'item', collection: @portfolio_items %>
