<div class="masthead clearfix <%= about_header_helper %>">
  <div class="inner">
    <h3 class="masthead-brand">Dallin Moak</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper "nav-link", 'span' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
