<div>
  <div><%= link_to "home", root_path %> </div>
  <div><%= link_to "about", about_path %> </div>
  <div><%= link_to "contact", contact_path %> </div>
<%#*  <div>%><%#= link_to "Portfolios", portfolios_path %><%#*</div>%>
<%#*  <div>%><%#= link_to "Blog posts", blogs_path %><%#*</div>%>
</div>
