<div class='app-card-container'>
  <div class='card contact-card'>
    <h1>Get in Touch</h1>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <h3>Address</h3>

        <p>620 N 100 W #2 Provo, Ut</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "9152491667" %></p>

        <h3>Email</h3>

        <a href="mailto:dallinmoak@gmail.com?subject=Your Website&body=Hi, I was browsing your website and want to get in touch...">dallinmoak@gmail.com</a> 
      </div>
      <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.520516709678!2d-111.66213768442064!3d40.24196197417362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d90aecc8f2991%3A0xb53811b7ffeb05e1!2s620+100+W+%232%2C+Provo%2C+UT+84601!5e0!3m2!1sen!2sus!4v1517597248112" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
