<h1>Contact</h1>
<p>HMU:</p>
<p><%= number_to_phone "1233334835"%> </p>
<hr>
<p><%= number_to_currency "432"%></p>
<hr>
<p><%= number_to_percentage "43.2"%></p>
<hr>
<p><%= number_with_delimiter "4324576535"%></p>
